.App {
  font-family: sans-serif;
  text-align: center;
}
.Products {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Item {
  display: flex;
  flex-direction: column;

  background-color: rgb(231, 225, 225);
  /* border: 1px solid red; */
  margin-right: 5px;
  margin-bottom: 5px;
}

.Item > img {
  height: 100%;
  width: 95%;
  object-fit: cover;
}
